ul {
    width: 50%;
    height: 2cm;
    padding: 1cm 0 0 0;
    border:green dotted 20px;
}
li {
    list-style: none;
    background: lightseagreen;
    position: relative;
    padding: 3mm;
    height: 1cm;
    display: inline-block;
    left: 200px;
    top: -15px;
}